@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --bg-default: #ffffff;
    --fg-default: #000000;
    --bg-second: #f3efe4;
    --fg-second: #175a99;

    --ff: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;

    font-family: var(--ff);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: clamp(1rem, 0.9vw, 1.125rem);
    text-transform: uppercase;
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--bg-default);
    color: var(--fg-default);
}

a {
    color: inherit;
    text-decoration: none;
}
p {
    max-width: 1280px;
}
a,
button {
    display: inline-flex;
}
ul {
    list-style: none;
}
