.Page {
    .centered {
        display: grid;
        place-items: center;
    }
    .Heading {
        font-size: clamp(1.25rem, 1.2vw, 1.5rem);
        color: var(--fg-second);
    }
    .beige {
        background-color: var(--bg-second);
    }
    .Banner {
        position: relative;
        padding: 8rem 0;
        .BannerImage {
            width: min(90%, 960px);
            height: max-content;
        }
        .FlowersImage {
            position: absolute;
            right: 0;
            top: 110px;
            width: 405px;
            height: min-content;
        }
    }
    .Columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        .Text {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            text-align: left;
        }
        .Image {
            width: min(100%, 600px);
            height: min-content;
            border-radius: 8px;
        }
    }
    .Button {
        padding: 14px 16px;
        border-radius: 8px;
        font-family: var(--ff);
        border: none;
        width: 280px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        &.Primary {
            background-color: var(--fg-second);
            color: var(--bg-default);
        }

        &.Secondary {
            background-color: rgba($color: #b2874e, $alpha: 0.2);
            color: var(--fg-second);
        }
    }

    .Flex {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        text-align: center;
    }

    .FlexRow {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
}

@media screen and (max-width: 425px) {
    .Page {
        .Banner {
            padding: 1rem 0;
            .FlowersImage {
                top: 0;
                width: 160px;
                height: min-content;
            }
            .Flex {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
            }
        }
        .Columns {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            .Image {
                width: 120%;
                height: min-content;
                border-radius: 0;
            }
        }

        .Button {
            width: 100%;
        }

        .FlexRow {
            display: flex;
            align-items: center;
            gap: 3rem;
            justify-content: center;
        }
    }
    #banner_logo {
        width: 88px;
        margin-top: 80px;
        height: min-content;
    }

    #banner_start {
        width: 251px;
        height: min-content;
    }

    #banner_line {
        width: 74px;
        height: min-content;
    }
    #banner_title {
        width: 309px;
        height: min-content;
    }
    #banner_date {
        width: 229px;
        height: min-content;
    }
    #banner_rsvp {
        width: 80px;
        height: min-content;
    }
    #banner_tie {
        width: 91px;
        margin-bottom: 20px;
        height: min-content;
    }
}

@media screen and (min-width: 426px) {
    .Page {
        .Banner {
            padding: 1rem 0;
            .FlowersImage {
                top: 0;
                width: 274px;
                height: min-content;
            }
            .Flex {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
            }
            // gap: 1rem;
        }
        .Columns {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            .Image {
                width: 120%;
                height: min-content;
                border-radius: 0;
            }
        }

        .Button {
            width: 100%;
        }

        .FlexRow {
            display: flex;
            align-items: center;
            gap: 3rem;
            justify-content: center;
        }
    }

    #banner_logo {
        width: 69.16px;
        margin-top: 80px;
        height: min-content;
    }

    #banner_start {
        width: 239.16px;
        height: min-content;
    }

    #banner_line {
        width: 77.64px;
        height: min-content;
    }
    #banner_title {
        width: 517.59px;
        height: min-content;
    }
    #banner_date {
        width: 217.96px;
        height: min-content;
    }
    #banner_rsvp {
        width: 74.76px;
        height: min-content;
    }
    #banner_tie {
        width: 82.03px;
        margin-bottom: 20px;
        height: min-content;
    }
}

@media screen and (min-width: 1025px) {
    .Page {
        .Banner {
            padding: 3rem 0;
            .FlowersImage {
                top: 110px;
                width: 459px;
                height: min-content;
            }
            .Flex {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 4rem;
                text-align: center;
            }
            // gap: 1rem;
        }
        .Columns {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            .Image {
                width: 120%;
                height: max-content;
                border-radius: 0;
            }
        }

        .Button {
            width: 100%;
        }

        .FlexRow {
            display: flex;
            align-items: center;
            gap: 3rem;
            justify-content: center;
        }
    }

    #banner_logo {
        width: 120.25px;
        margin-top: 80px;
        height: min-content;
    }

    #banner_start {
        width: 415.86px;
        height: min-content;
    }

    #banner_line {
        width: 135px;
        height: min-content;
    }
    #banner_title {
        width: 900px;
        height: min-content;
    }
    #banner_date {
        width: 379px;
        height: min-content;
    }
    #banner_rsvp {
        width: 130px;
        height: min-content;
    }
    #banner_tie {
        width: 142.64px;
        margin-bottom: 20px;
        height: min-content;
    }
}
